.pullDown:before,
.pullDown:after {
  margin-bottom: -3px;

  position: absolute;
  opacity: 0;
  width: 0%;
  height: 3px;
  content: "";
  background: rgb(255, 0, 0);
  transition: all 0.3s;
}
.pullDown:before {
  right: 0px;
  bottom: 0px;
}
.pullDown:after {
  left: 0px;
  top: 0px;
}
.pullDown:hover:before,
.pullDown:hover:before {
  opacity: 1;
  width: 100%;
}
.pullDownColor{
  color:#556270;
  font-weight: 700;
}
/* css for responsive  */

.nav {
  /* background-color: #131418; */
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
  /* display: flex;
  position: fixed;
  z-index: 10; */
}
.navTwo {
  display: flex;
  align-items: center;
  margin-right: 10%;

}

/*Styling logo*/

/*Styling Links*/
.nav-links {
  display: flex;
}
.nav-links .li .pulldown {
  text-decoration: none;
  /* margin: 0 0.7vw; */
}
/* .nav-links .li .pulldown:hover {
  color: #61dafb;
} */
.nav-links .li {
  position: relative;
}
/* .nav-links .li .pulldown::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links .li .pulldown:hover::before {
  width: 80%;
} */

/*Styling Buttons*/
/* .login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
} */
.join-button {
  
  color: white;
  background-color: #FF6B6B;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
/* .join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
} */

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}
.toggle div {
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
.linkStyle {
  color: "white";
}
.li{
  margin-right: 15px;
}

.navThree {
  display: flex;
  align-items: center;
  /* margin:50px auto; */
}
/*Stying for small screens*/
@media screen and (max-width: 800px) {
  .pullDown:before,
.pullDown:after {
  margin-bottom: -3px;

  position: absolute;
  opacity: 0;
  width: 0%;
  height: 3px;
  content: "";
  background: rgb(255, 255, 255);
  transition: all 0.3s;
}
.pullDown:before {
  right: 0px;
  bottom: 0px;
}
.pullDown:after {
  left: 0px;
  top: 0px;
}
.pullDown:hover:before,
.pullDown:hover:before {
  opacity: 1;
  width: 100%;
}
  .pullDownColor{
    font-weight: 300;
    color: white;
  
  }
  .navTwo {
    display: block;
    margin-top: -50px;
  }
  .navThree {
    display: block;
    margin:50px auto;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #00706e;
    height: 100vh;
    width: 100%;
    margin-left: -87%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links .li {
    opacity: 1;
  }
  .nav-links .li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links .li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links .li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links .li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .li .fade {
    opacity: 1;
  }
}
.fade {
  /* margin-right: 15; */
   margin-bottom: 10px;
}
.btndiv{
 margin: auto;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
